[submodule "subprojects/ublue-brew"]
	path = subprojects/ublue-brew
	url = https://github.com/ublue-os/brew
[submodule "subprojects/dotfiles"]
	path = subprojects/dotfiles
	url = https://github.com/mecattaf/dotfiles
